body {
    font-size: 20px;
    font-family: Helvetica-Neue-UltraLight,"LiHei Pro","PMingLiU",sans-serif;
}

button {
    margin: 3px;
}

.tags-container {
    padding-bottom: 10px;
}

.item-info {
    font-size: 36px;
}

.item-title {
    font-size: 24px;
}

#site-links a span {
    font-size:24px;
}

.item-description {
    font-size: 16px;
}

.item-info {
    float:right;
}

.item-tags span {
    margin: 3px;
}

#site-links a, #copyright a, .item-title a {
    text-decoration: none;
    color:#333;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  padding-left: 15px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #fff;
}